/*  your css code here. If applicable */
table{
	border:1px solid back;
	border-collapse:collapse;
	width:100%;
	cell-padding:1px
	Spacing: 1px;
}
td{
	border:1px solid black;
}
h2{
	text-align:center;
}
 td{
            border: 1px solid back;
	    
        }
#t-image{
text-align:center;
	padding:0px;
}

	
